{% extends "base.html" %}
{% block title %}{% block og_title %}Masaje{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/servicios/masaje{%endblock%}
{% block descripcion %}{% block og_descripcion %}El masaje para el deportista se aplica para: “la prevención, lucha contra la fatiga, incremento de la capacidad de trabajo y apoyo en el tratamiento de las lesiones”{% endblock %} {% endblock %}
{% block keywords %}Nutricion, Alimentos sanos, Bajar de peso, Perdida de peso, Deportes, Dieta, Tehuacan{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="ProfileHero bg-horario">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">L.C.F. Estrella Martínez Coello</h1>
                <p>Masajista / Instructora</p>
                <img class="th perfil" width="200" src="{{STATIC_URL}}img/servicios/masaje/masaje_01.jpg" alt="Estrella Marzul Coella Masajista e Instructora en Fenix Fight CLub">

            </div>
        </div>
</section>
<section class="afterProfileHero">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>L.C.F.Estrella Martínez Coello</h3>
            <p>Masajista en FFCMéxico</p>
            <h3>El masaje para el deportista se aplica para: “la prevención, lucha contra la fatiga, incremento de la capacidad de trabajo y apoyo en el tratamiento de las lesiones”</h3>

        </div>
    </div>
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}<!-- Head-->
