{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Servicios{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/servicios{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Servicios, gym e instalaciones disponibles en Fenix Fight Club {% endblock %} {% endblock %}
{% block keywords %}Disciplinas, Cursos, Servicios, entrenamientos, artes marciales, gym, Deportes{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-codigo">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-center">
                <h1 class="animated fadeInUp">Servicios</h1>
                
            </div>
        </div>
    </section>
    <section class="afterHero">
        <div class="row">
            <div class="small-12 columns">
                <h3>Ofrecemos varios servicios extras para todos nuestros miembros del club</h3>
                <h5>Entre ellos Acceso a todo el gym, único gym con Jaula para MMA, y también servicios extra como Nutrición, Masaje, y Fisioterapia. </h5>
                <p>Puedes ver imágenes del gym en nuestras <a href="/galeria/fotos">Galerias de Fotos</a></p>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns text-center">
                <a href="/servicios/fisioterapia"><img width="200" class="th perfil" src="{{STATIC_URL}}img/servicios/Fisioterapia.jpg" alt="Servicio de Fisioterapia"></a>
            </div>
            <div class="medium-9 columns">
                <h3><a href="/servicios/fisioterapia">FISIOTERAPIA</a></h3>
                <p>El LTF. Miguel Angel Linares Sanchez trabaja con un rango muy amplio de lesiones musculares, asi como torceduras</p>
                <a class="button small round" href="/servicios/fisioterapia">Conoce más</a>
            </div>
        </div>
        
        <div class="row">
            <div class="medium-3 columns  text-center">
                 <a href="/servicios/masaje"><img width="200" class="th perfil" src="{{STATIC_URL}}img/servicios/masaje.jpg" alt="Servicio de Masaje"></a>
            </div>
            <div class="medium-9 columns">
                <h3><a href="/servicios/masaje">MASAJE</a></h3>
                <p>El masaje para el deportista se aplica para: “la prevención, lucha contra la fatiga, incremento de la capacidad de trabajo y apoyo en el tratamiento de las lesiones”</p>
                <a class="button small round" href="/servicios/masaje">Conoce más</a>
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}