{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Fisioterapia{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/servicios/fisioterapia{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Contamos con un Fisioterapeuta Profesional ven y conocelo{% endblock %} {% endblock %}
{% block keywords %}Fisioterapia, Terapeuta, Tehuacan, ejercicio, servicios extra, salud{% endblock %}
{% block og_img %} {% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <div class="row">
        <h1>Fisioterapia</h1>
        <h2>Miguel </h2>
        <p>En Fenix figth Club nos tomamos muy en serio la cálidad de nuestros ejercicios, pero no obstante si existiera algun desgarre o similar nuestro terapeuta entra en ayuda.</p>
    </div>
{%endblock%}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}
