{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Fisioterapia{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/servicios/fisioterapia{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Contamos con un Fisioterapeuta Profesional ven y conocelo{% endblock %} {% endblock %}
{% block keywords %}Fisioterapia, Terapeuta, Tehuacan, ejercicio, servicios extra, salud{% endblock %}
{% block og_img %} {% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="ProfileHero bg-contacto">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">L.T.F. Miguel Angel Linares S.</h1>
                <p>Maestria en Gerentología</p>
                <img class="th perfil" width="200" src="{{STATIC_URL}}img/servicios/fisioterapia/fisioterapia_01.jpg" alt="Miguel Angel Linares Fisioterapeuta en Fenix Fight CLub">

            </div>
        </div>
</section>
<section class="afterProfileHero">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>LTF. Miguel Angel Linares Sanchez </h3>
            <p>Fisioterapeuta en FFCMéxico</p>
            <h3>Trabaja con un rango muy amplio de lesiones musculares, asi como torceduras:</h3>
            <ul class="no-bullet">
                <li>Terapia Física</li>
                <li>Lesiones Musculares</li>
                <li>Torceduras</li>
                <li>Farmacología</li>
                <li>Nutrición</li>
            </ul>
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>CONOCE MÁS SERVICIOS QUE TE OFRECEMOS</h3>
            <div class="row">
              <div class="medium-4 columns text-center">
                <h3>NUTRICIÓN</h3>
                <a href="/masaje"><img width="200" class="th perfil" src="{{STATIC_URL}}/img/servicios/nutricion.jpg" alt="Nutrición en FFCMexico"></a>
                <a class="button small expand" href="/servicios/masaje">Conoce más de Nutrición</a>
              </div>
              <div class="medium-4 columns text-center">
                <h3>FISIOTERAPIA</h3>
                <a href="/fisioterapia"><img width="200" class="th perfil" src="{{STATIC_URL}}/img/servicios/Fisioterapia.jpg" alt="Fisioterapia en el gym"></a>
                <a class="button small expand" href="/servicios/fisioterapia">Conoce más de Fisioterapia</a>
              </div>
              <div class="medium-4 columns text-center">
                <h3>MASAJE</h3>
                <a href="/masaje"><img width="200" class="th perfil" src="{{STATIC_URL}}/img/servicios/masaje.jpg" alt="Masaje para Deportistas"></a>
                <a class="button small expand" href="/servicios/masaje">Conoce más de Masaje</a>
              </div>
            </div>

        </div>
    </div>
</section>
{%endblock%}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}
