{% extends "base.html" %}
<!-- Head-->
{% block title %}{% block og_title %}Terminos y Condiciones{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/terminosyprivacidad{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Terminos y Condiciones del Contenido en Fenix Fight Club{% endblock %} {% endblock %}
{% block keywords %}Terminos, Condiciones, Legales, Privacidad{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-horario">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">Terminos y Condiciones</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="small-12 columns">
                <h2>Terminos y Condiciones <small>En Fenix Fight Club México</small></h2>
                <div class="panel">
                    <h4>Licencia del Contenido Publicado en FFCMéxico</h4>
                    <p>EL contenido del sitio esta registrado con una licencia Creative Commons 4.0 la cual protege imágenes, multimedia, textos. Los cuales tienen derecho a copiar y compartir el contenido siempre y cuando se respeten nuestras condiciones.</p>
                    <a href="" class="button tiny">Licencia Creative Commons</a>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}