{% extends "base.html" %}
{% block title %}{% block og_title %}Brian{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/instructores/brian{%endblock%}
{% block descripcion %}{% block og_descripcion %}Director y Profesor de Fenix Fight Club en las Disciplinas de Jiu jitsu Brasileño, Judo, Artes Marciales Mixtas y Crossfit {% endblock %} {% endblock %}
{% block keywords %}Disciplinas, Mixed martial arts, Instructores, entrenamientos, artes marciales, Jiu Jitsu, MMA{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
{% block contenido %}
<section class="ProfileHero bg-brian">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">Brian</h1>
                <p>Director / Instructor</p>
                <img class="th perfil" width="200" src="{{STATIC_URL}}img/instructores/brian/brian_01.jpg" alt="Brian Director e Instructor en Fenix Fight CLub">

            </div>
        </div>
</section>
<section class="afterProfileHero">
    <div class="row">
        <div class="small-12 columns text-center">
            <h2> Brian M. Barbour</h2>
            <p>Judo Black Belt & Jiu Jitsu Purple Belt</p>
            <br />
            <p>Director y Profesor de Fenix Fight Club en las Disciplinas de Jiu jitsu Brasileño, Judo, Artes Marciales Mixtas y Crossfit</p>
            <p>Campeon Nacional de Jiu jitsu Brasileño por la FNJJB en Mexico.</p>
            <h3>BRIAN HA ENTRENADO EN DIFERENTES ESCUELAS EN TODO EL MUNDO:</h3>
                <ul class="no-bullet">
                    <li><a href="http://www.bttboston.com/" target="_blank">Brazilian Top Team, Boston</a></li>
                    <li><a href="http://www.gb-uh.com/" target="_blank">Gracie Barra Honolulu, Hawaii</a></li>
                    <li><a href="http://www.onzuka.com/" target="_blank">O2 Martial Arts, Aiea, Hawaii</a></li>
                    <li><a href="http://en.wikipedia.org/wiki/Miyakonojo,_Miyazaki" target="_blank">Miyakonojo, Higashi Koko Judo Club, Japan</a></li>
                    <li><a href="http://www.tohokujudo.org/" target="_blank">Tohuko Judo Club, Somerville MA.</a></li>
                    <li><a href="http://sportjudo.org/" target="_blank">Sport Judo, Springfield VA</a></li>
                    <li><a href="http://sityodtong.com/">Sityodong Muay Thai and MMA, Somerville MA</a></li>
                </ul>
            <h3 class="text-left">ENTRENO BAJO LA TUTELA DE:</h3>
                <ol class="text-left">
                <li>Alusio Vicente D’Amico; Cinta Negra BJJ Grifo Jiujitsu, Sao Paulo Brazil</li>
                <li>Arthur Pucci; Cinta Negra BJJ Barbosa JJ, Sao Paulo Brazil</li>
                <li><a href="www.fenixbjj.com" target="_blank">Ronaldo Campos; Cinta Negra BJJ,  Profesional MMA, Fenix Jiu Jitsu, Boston MA </a> </li>
                <li><a href="http://innerstrengthbjj.com" target="_blank">David Ginsberg; Cinta Negra BJJ</a></li>
                <li><a href="http://www.carlosnetobjj.com" target="_blank">Carlos Neto; Cinta Negra BJJ</a></li>
                <li>Jorge Rivera; Peleador Profesional en la UFC</li>
                <li>Joao Amaral; Cinta Negra BJJ, Peleador profesional, MMA; Brazilian Top Team MA.</li>
                <li>Daniel “Mirel” Gazoni; Cinta Negra BJJ; Brazilian Top Team MA</li>
                <li>Maurice Allan es un ex Luchador Olímpico estilo libre, Octavo Grado de Cinturón Negro en Judo y Múltiple Campeón Nacional de Judo Británico y Escocés, y 1975 Campeon Mundial de Lucha de Sambo.</li></ol>
                  
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>CINTA NEGRA EN JUDO</h3>
            <h4>Judo Sho-Dan Primer Grado Cinta Negra, Registrado con Tokio Kodokan, 2002.</h4>
            <img class="th" width="500" src="{{STATIC_URL}}img/disciplinas/judo/th/judo_02.jpg" alt="Cinta Negra en Judo">
        </div>
    </div>
    <div class="row afterHero">
        <div class="small-12 columns text-center">
            <h3>CINTA MORADA EN JIU JITSU BRASILEÑO</h3>
            <h4>Certificado por Adriano Silva y Barbosa Jiu Jitsu</h4>
            <img class="th" width="500" src="{{STATIC_URL}}img/disciplinas/bjj/th/bjj_08.jpg" alt="Cinta Morada en Jiu Jitsu">
        </div>
    </div>
    <div class="row afterHero">
        <div class="small-12 columns text-center">
            <h3>CERTIFICADO KODOKAN</h3>
            <img class="th" width="500" src="{{STATIC_URL}}img/instructores/brian/certificate_th.jpg" alt="CERTIFICADO KODOKAN">
        </div>
    </div>
    <div class="row afterHero">
        <div class="small-12 columns text-center">
            <h3>CERTIFICADO BARBOSA & GRIFO JIU JITSU</h3>
            <img class="th" width="500" src="{{STATIC_URL}}img/instructores/brian/certificate_barbosa_grifo_th.jpg" alt="CERTIFICADO BARBOSA & GRIFO JIU JITSU">
        </div>
    </div>
    
</section>
<section class="afterHero">
        <div class="row">
            <div class="small-12 columns">
                <h3 class="text-center">Conoce a Nuestros Maestros</h3>
        <h3 class="text-center">INSTRUCTORES</h3>
        <div class="row">
          <div class="medium-4 medium-centered columns text-center">
            <h3>Conoce a Brian</h3>
            <a href="/brian"><img width="325" class="th perfil" src="{{STATIC_URL}}/img/instructores/brian/brian_01.jpg" alt="Instructor Brian M. Barbour"></a>
            <a class="button small expand round" href="/instructores/brian">Conoce más de Brian</a>
          </div>
          
        </div>

      </div>
        </div>
    </section>
    
{% endblock%}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}