{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Instructores{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/instructores{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Instructores profesionales en Fenix Fight Club {% endblock %} {% endblock %}
{% block keywords %}Disciplinas, Cursos, Instructores, entrenamientos, artes marciales, Sports, Deportes{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-horario">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-center">
                <h1 class="animated fadeInUp">Instructores</h1>
                <h4>Box, Sparring, Judo , BJJ, MMA y más</h4>
            </div>
        </div>
    </section>

    <section class="afterHero">
        <div class="row">
            <div class="small-12 columns">
                <h3 class="text-center">Conoce a nuestros Maestros</h3>
        <h3 class="text-center">INSTRUCTORES</h3>
        <div class="row">
          <div class="medium-4 medium-centered columns text-center">
            <h3>Conoce a Brian</h3>
            <a href="/brian"><img width="325" class="th perfil" src="{{STATIC_URL}}/img/instructores/brian/brian_01.jpg" alt="Instructor Brian M. Barbour"></a>
            <a class="button small expand" href="/instructores/brian">Conoce más de Brian</a>
          </div>
          
        </div>

      </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}