<li>Siempre se respetuoso.</li>
<li>Siempre dirigirte a Brian como profesor y a los Instructores que no sean Cintas negras como Coach.</li>
<li>Prohibido alentar o couchear a tus hijos o a algún otro estudiante durante la clase.</li>
<li>Si llegas tarde, espera afuera del tatami hasta que el profesor te de permiso para unirte a la clase.</li>
<li>No abandones el area de tatami sin el permiso de tu Profesor o Coach.</li>
<li>Durante la clase, cuando el Profesor este demostrando la tecnica, todos los estudiantes deben sentarse o estar de pie en una buena postura.</li>
<li>Hablar durante la clase debe mantenerse a un nivel mínimo y debe relacionarse con el tema de la clase.</li>
<li>Prohibido lenguaje ofensivo dentro de la academia.</li>
<li>Higiene Personal. No se permite el maquillaje en mujeres y gel en los hombres en todas las clases.</li>
<li>Mantener los pies limpios. No pies sucios dentro del tatami.</li>
<li>Debes usar zapatos/tenis o sandalias cuando no estes dentro del tatami.</li>
<li>Si estas usando sandalias, debes limpiar tus pies antes de entrar al tatami.</li>
<li>Debes usar siempre una playera o lycra dentro de la academia.</li>
<li>Todo el equipo de entrenamiento y mochilas deben dejarse en el vestidor, no en los bancos o alrededor del area de entrenamiento.</li>

<li>El uniforme debe estar limpio en todo momento. Un uniforme sucio es un signo de falta de respeto.</li>
<li>Se respetuoso con tus compañeros de entrenamiento.</li>
<li>Todas las joyas, piercings, collares y otros artículos deben ser removidos durante el </li>entrenamiento.
<li>Manten las uñas (manos y pies) pulcramente recortados.</li>
<li>Todos los estudiantes deben usar uniforme de FFC.</li>
<li>Definitivamente prohibido el uso de todos los parches de otra escuela/afiliación para entrenar.</li>
<li>No se permiten dispositivos electrónicos en el área de entrenamiento.</li>
<li>No se permiten zapatos, comidas o bebidas en el tatami.</li>
<li>Prohibido pelear fuera de la academia.</li>
<li>Se humilde</li>
<li>Cree y Persevera.</li>
