<section class="heroHOME">
        <ul class="example-orbit" data-orbit data-options="animation_speed:1500;slide_number: false;bullets: false; timer: false">
          <li class="active">
            <img src="{{STATIC_URL}}img/home/home_01.jpg" alt="slide 1" />
            <div class="orbit-caption">
              Bienvenido a Fenix Fight Club México
              <a href="/servicios" class="button medium ">Servicios</a>
              
            </div>
          </li>
          <li >
            <img src="{{STATIC_URL}}img/home/home_02.jpg" alt="slide 2" />
            <div class="orbit-caption">
              Aprende con profesionales, Defensa Personal, Jiu Jitsu , Judo, Artes Marciales Mixtas y más.
              <a href="/programas" class="button medium">Programas</a>
            </div>
          </li>
          <li>
            <img src="{{STATIC_URL}}img/home/home_03.jpg" alt="slide 3" />
            <div class="orbit-caption">
              Recuerda obtener tu Semana Gratis.
              <a href="/freeweek" class="button medium">!!Obten ya tu Semana Gratis!!</a>
            </div>
          </li>
        </ul>
  </section> 