{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Codigo de Conducta{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/codigo{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Nuestro codigo de conducta en Fenix Fight Club México{% endblock %} {% endblock %}
{% block keywords %}Codigo conducta, disciplina, reglas, entrenamiento, gym, vestuario, ropa{% endblock %}
{% block og_img %} {% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-codigo">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1>Codigo de Conducta</h1>
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}