{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Contacto{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/contacto{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Contactanos email:brian@ffcmexico.com Google maps: Fenix Fight Club {% endblock %} {% endblock %}
{% block keywords %}bjj, box, artes marciales mixtas, judo, tehuacan, puebla{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}

    <section class="hero bg-contacto">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">Contacto</h1>
            </div>
        </div>
    </section>
    <section class="afterHero">
            <div class="small-12 medium-8 medium-centered columns">
                <h4>Mantente en contacto con nosotros, y si tienes algunda duda, pregunta o comentario haznosla saber</h4>
                <form action="{{STATIC_URL}}scphp/mail.php" method="POST">
                    <fieldset>
                        <legend>Contactanos</legend>
                        <div class="row">
                          <div class="large-12 columns">
                            <h4>Danos tu opinión</h4>
                        </div>
                        <div class="large-12 columns">
                            <label>Nombre
                              <input type="text" name="name" placeholder="Pon aquí tu nombre Ej. Pedro" />
                          </label>
                          <label>Email
                              <input type="text" name="email" placeholder="Pon aquí tu nombre Ej. tuemail@gmail.com" />
                          </label>
                          <label>Cuentanos tus comentarios
                              <textarea rows="4" type="text" name="msg" placeholder="Cuentanos tus comentarios y te ayudaremos a ti." ></textarea>
                          </label>

                          <button class="round" name="envComentario">Enviar a FFCMéxico</button>
                      </div>
                  </div>
              </fieldset>
          </form>
      </div>
    </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}
