{% extends "home/freeweek_01.html" %}
{% block freeweek %}
<form action="{{STATIC_URL}}scphp/mail.php" method="POST">
  <fieldset>
    <legend>Obten tu Semana Gratis</legend>
    <div class="row">
      <div class="large-12 columns">
        <label>* Nombre
          <input name="nombre" type="text" placeholder="Escribe aquí tu nombre Ej. Juan López" required />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>* Email
          <input name="email" type="text" placeholder="Escribe aquí tu nombre Ej. Juan López" required />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>Edad <small>De 5 en adelante</small>

          <input name="edad" type="number" placeholder="De 5 en Adelante" />



        </label>
      </div>
      <div class="large-4 columns">
        <label>Telefono <small>10 Dígitos</small>

          <input name="telefono" type="tel" placeholder="Tel: 2383821012" />


        </label>
      </div>
      <div class="large-4 columns">
        <label>Genero
          <select name="genero">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
            <option value="kid">Niño(a)</option>

          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Escribenos tus Objetivos

          <textarea name="comentario" placeholder="Cuentanos que objetivos tienes para ayudarte a escoger lo mejor para ti."></textarea>

        </label>
      </div>
    </div>
    <p>* Indica campos necesarios</p>
    <button name="envSemana" class="expand">Enviar a Fenix Fight Club</button>
  </fieldset>
</form>
{% endblock  %}