{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Semana Gratis{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/freeweek{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Disfruta tu Semana Gratis, Registrate y ven a conocernos{% endblock %} {% endblock %}
{% block keywords %}Semana Gratis, Gym, Cursos, Seminarios, Clases, Entrenamiento, Kids{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-horario">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">Semana Gratis</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="small-12 columns">
                {% block freeweek %}            
                {% endblock freeweek %}
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}