{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Horario de Clases{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/horario{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Horario de Clases de Fenix Fight Club{% endblock %} {% endblock %}
{% block keywords %}Horario de Clase, Gym, Cursos, Seminarios, Tehuacan, Training, Kids{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-horario">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">Horario Junio 2014</h1>
            </div>
        </div>
    </section>
    <section class="afterHero">
        <div class="row">
            <div class="medium-10 small-centered columns">
                <h3 class="text-center">¡Consulta nuestra Horario para no perderte ninguna clase!</h3>
                <ul class="tabs" data-tab>
                  <li class="tab-title"><a href="#lunes"><span class="show-for-medium-down">Lun.</span><span class="show-for-large-up">Lunes</span></a></li>
                  <li class="tab-title"><a href="#martes"><span class="show-for-medium-down">Mar.</span><span class="show-for-large-up">Martes</span></a></li>
                  <li class="tab-title"><a href="#miercoles"><span class="show-for-medium-down">Mié.</span><span class="show-for-large-up">Miércoles</span></a></li>
                  <li class="tab-title"><a href="#jueves"><span class="show-for-medium-down">Jue.</span><span class="show-for-large-up">Jueves</span></a></li>
                  <li class="tab-title active"><a href="#viernes"><span class="show-for-medium-down">Vie.</span><span class="show-for-large-up">Viernes</span></a></li>
                  <li class="tab-title"><a href="#sabado"><span class="show-for-medium-down">Sáb.</span><span class="show-for-large-up">Sábado</span></a></li>
              </ul>
              <div class="tabs-content">
                  <div class="content" id="lunes">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Lunes</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr widt="200">
                                      <td>7:00 am a 8:00 am</td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 am a 9:00 am </td>
                                      <td>BJJ Principiantes (Begginers)</td>
                                    </tr>
                                    <tr >
                                      <td>9:00 am a 10:00 am </td>
                                      <td>BJJ Fundamentos (Intermedios)</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>11:00 am a 12:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>12:00 pm a 1:00 pm </td>
                                      <td>Clase de Competencia</td>
                                    </tr>
                                    <tr >
                                      <td>1:00 pm a 3:00 pm </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>3:00 pm a 4:00 pm </td>
                                      <td>Gimnasia para Niños Todaslas Edades</td>
                                    </tr>
                                    <tr >
                                      <td>4:00 pm a 5:00 pm </td>
                                      <td>Niños BJJ Edad 5-8 años</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Niños BJJ Edad 9-12 años</td>
                                    </tr>
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>BJJ Principiantes</td>
                                    </tr><tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>MMA (Jaula)</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:00 pm </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 pm a 9:00 pm </td>
                                      <td>BJJ Avanzados(Cinta Azul)</td>
                                    </tr>
                                    <tr >
                                      <td>9:00 pm a 10:00 pm </td>
                                      <td>Gimnasia para Adultos</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content" id="martes">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Martes</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr widt="200">
                                      <td>7:00 am a 8:00 am</td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 am a 9:00 am </td>
                                      <td>BJJ Fundamentos (Intermedios)</td>
                                    </tr>
                                    <tr >
                                      <td>9:00 am a 10:00 am </td>
                                      <td>BJJ Principiantes (Begginers)</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>11:00 am a 12:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>12:00 pm a 1:00 pm </td>
                                      <td>BJJ Avanzados</td>
                                    </tr>
                                    <tr >
                                      <td>1:00 pm a 3:00 pm </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>4:00 pm a 5:00 pm </td>
                                      <td>Niños BJJ Edad 9-12 años</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Niños BJJ Edad 5-8 años</td>
                                    </tr>
                                    
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>MMA (Jaula)</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:00 pm </td>
                                      <td>BJJ Principiantes</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 pm a 9:00 pm </td>
                                      <td>Clase de Competencia</td>
                                    </tr>
                                    <tr >
                                      <td>9:00 pm a 10:00 pm </td>
                                      <td>Gimnasia para Adultos</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content" id="miercoles">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Miércoles</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr widt="200">
                                      <td>7:00 am a 8:00 am</td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 am a 9:00 am </td>
                                      <td>BJJ Principiantes (Begginers)</td>
                                    </tr>
                                    <tr >
                                      <td>9:00 am a 10:00 am </td>
                                      <td>BJJ Fundamentos (Intermedios)</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>11:00 am a 12:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>12:00 pm a 1:00 pm </td>
                                      <td>Clase de Competencia</td>
                                    </tr>
                                    <tr >
                                      <td>1:00 pm a 3:00 pm </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>3:00 pm a 4:00 pm </td>
                                      <td>Gimnasia para Niños Todaslas Edades</td>
                                    </tr>
                                    <tr >
                                      <td>4:00 pm a 5:00 pm </td>
                                      <td>Niños BJJ Edad 5-8 años</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Niños BJJ Edad 9-12 años</td>
                                    </tr>
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>BJJ Principiantes</td>
                                    </tr><tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>MMA (Jaula)</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:00 pm </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 pm a 9:00 pm </td>
                                      <td>BJJ Avanzados(Cinta Azul)</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content" id="jueves">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Jueves</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr widt="200">
                                      <td>7:00 am a 8:00 am</td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 am a 9:00 am </td>
                                      <td>No-Gi Fundamentos</td>
                                    </tr>
                                    <tr >
                                      <td>9:00 am a 10:00 am </td>
                                      <td>BJJ Principiantes (Begginers)</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>11:00 am a 12:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>12:00 pm a 1:00 pm </td>
                                      <td>BJJ Avanzados</td>
                                    </tr>
                                    <tr >
                                      <td>1:00 pm a 3:00 pm </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>4:00 pm a 5:00 pm </td>
                                      <td>Niños BJJ Edad 9-12 años</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Niños BJJ Edad 5-8 años</td>
                                    </tr>
                                    
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>MMA (Jaula)</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:00 pm </td>
                                      <td>BJJ Principiantes</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 pm a 9:00 pm </td>
                                      <td>Clase de Competencia</td>
                                    </tr>
                                    <tr >
                                      <td>9:00 pm a 10:00 pm </td>
                                      <td>Gimnasia para Adultos</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content active" id="viernes">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Viernes</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    
                                    <tr >
                                      <td>3:00 pm a 4:00 pm </td>
                                      <td>Gimnasia para Niños Todaslas Edades</td>
                                    </tr>
                                    <tr >
                                      <td>4:00 pm a 5:00 pm </td>
                                      <td>Niños BJJ Edad 5-8 años</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Niños BJJ Edad 9-12 años</td>
                                    </tr>
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>BJJ Principiantes</td>
                                    </tr><tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>Box</td>
                                    </tr>
                                    <tr >
                                      <td>6:00 pm a 7:00 pm </td>
                                      <td>MMA (Jaula)</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:00 pm </td>
                                      <td>Crossfit</td>
                                    </tr>
                                    <tr >
                                      <td>8:00 pm a 9:00 pm </td>
                                      <td>BJJ Avanzados(Cinta Azul)</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content" id="sabado">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Sábado</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr >
                                      <td>9:00 am a 10:00 am </td>
                                      <td>Niños BJJ Todas las edades</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Gimnasia para Niños Todaslas Edades</td>
                                    </tr>
                                    <tr >
                                      <td>11:00 am a 12:00 pm </td>
                                      <td>Niños MMA 5-8 años</td>
                                    </tr>
                                    <tr >
                                      <td>12:00 pm a 1:00 pm </td>
                                      <td>Niños MMA 9-12 años</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="medium-8 small-centered columns">
                <h4 class="text-center">Si gustas Descargar el Horario de Fenix Fight Club, aqui puedes hacerlo.</h4>
                <a class="button small expand hide-for-large-up" href="{{STATIC_URL}}docs/horarioMayo2014.pdf">Descargar Horario!</a>
                <a class="button small hide-for-medium-down" href="{{STATIC_URL}}docs/horarioMayo2014.pdf">Descargar Horario!</a>
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}