{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Horario de Clases{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/horario{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Horario de Clases de Fenix Fight Club{% endblock %} {% endblock %}
{% block keywords %}Horario de Clase, Gym, Cursos, Seminarios, Tehuacan, Training, Kids{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-horario">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1>Horario Junio 2014</h1>
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}