{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Horario de Clases{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/horario{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Horario de Clases de Fenix Fight Club{% endblock %} {% endblock %}
{% block keywords %}Horario de Clase, Gym, Cursos, Seminarios, Tehuacan, Training, Kids{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-horario">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1 class="animated fadeInUp">Horario Junio 2014</h1>
            </div>
        </div>
    </section>
    <section class="afterHero">
        <div class="row">
            <div class="medium-10 small-centered columns">
                <h3 class="text-center">¡Consulta nuestra Horario para no perderte ninguna clase!</h3>
                <ul class="tabs" data-tab>
                  <li class="tab-title {%if isMonday%}active{%endif%}{%if isSunday%}active{%endif%}"><a href="#lunes"><span class="show-for-medium-down">Lun.</span><span class="show-for-large-up">Lunes</span></a></li>
                  <li class="tab-title {%if isTuesday%}active{%endif%}"><a href="#martes"><span class="show-for-medium-down">Mar.</span><span class="show-for-large-up">Martes</span></a></li>
                  <li class="tab-title {%if isWednesday%}active{%endif%}"><a href="#miercoles"><span class="show-for-medium-down">Mié.</span><span class="show-for-large-up">Miércoles</span></a></li>
                  <li class="tab-title {%if isThursday%}active{%endif%}"><a href="#jueves"><span class="show-for-medium-down">Jue.</span><span class="show-for-large-up">Jueves</span></a></li>
                  <li class="tab-title {%if isFriday%}active{%endif%}"><a href="#viernes"><span class="show-for-medium-down">Vie.</span><span class="show-for-large-up">Viernes</span></a></li>
                  <li class="tab-title {%if isSaturday%}active{%endif%}"><a href="#sabado"><span class="show-for-medium-down">Sáb.</span><span class="show-for-large-up">Sábado</span></a></li>
              </ul>
              <div class="tabs-content">
                  <div class="content {%if isMonday%}active{%endif%}{%if isSunday%}active{%endif%}" id="lunes">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Lunes</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr>
                                      <td>9:00 am a 10:00 am </td>
                                      <td>Gimnasia para Adultos</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Gimnasia para Niños</td>
                                    </tr>
                                    <tr >
                                      <td rowspan="1">5:00 pm a 6:00 pm </td>
                                      <td>Box principiantes</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Circuito</td>
                                    </tr>
                                    <tr >
                                      <td rowspan="1">6:00 pm a 7:00 pm </td>
                                      <td>Box Avanzados</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:30 pm </td>
                                      <td>Judo / Jiu Jitsu Brasileño</td>
                                    </tr>
                                    <tr >
                                      <td>8:30 pm a 10:00 pm </td>
                                      <td>Artes Marciales Mixtas</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content {%if isTuesday%}active{%endif%}" id="martes">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Martes</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    
                                    
                                    <tr >
                                      <td rowspan="1">5:00 pm a 6:00 pm </td>
                                      <td>Box principiantes</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Circuito</td>
                                    </tr>
                                    <tr >
                                      <td rowspan="1">6:00 pm a 7:00 pm </td>
                                      <td>Box Avanzados</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:30 pm </td>
                                      <td>Judo / Jiu Jitsu Brasileño</td>
                                    </tr>
                                    <tr >
                                      <td>8:30 pm a 10:00 pm </td>
                                      <td>Artes Marciales Mixtas</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content {%if isWednesday%}active{%endif%}" id="miercoles">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Miércoles</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    
                                    <tr>
                                      <td>9:00 am a 10:00 am </td>
                                      <td>Gimnasia para Adultos</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Gimnasia para Niños</td>
                                    </tr>
                                    <tr >
                                      <td rowspan="1">5:00 pm a 6:00 pm </td>
                                      <td>Box principiantes</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Circuito</td>
                                    </tr>
                                    <tr >
                                      <td rowspan="1">6:00 pm a 7:00 pm </td>
                                      <td>Box Avanzados</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:30 pm </td>
                                      <td>Judo / Jiu Jitsu Brasileño</td>
                                    </tr>
                                    <tr >
                                      <td>8:30 pm a 10:00 pm </td>
                                      <td>Artes Marciales Mixtas</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content {%if isThursday%}active{%endif%}" id="jueves">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Jueves</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                                                        
                                    <tr>
                                      <td>9:00 am a 10:00 am </td>
                                      <td>Gimnasia para Adultos</td>
                                    </tr>
                                    <tr >
                                      <td>10:00 am a 11:00 am </td>
                                      <td>Gimnasia para Niños</td>
                                    </tr>
                                    <tr >
                                      <td rowspan="1">5:00 pm a 6:00 pm </td>
                                      <td>Box principiantes</td>
                                    </tr>
                                    <tr >
                                      <td>5:00 pm a 6:00 pm </td>
                                      <td>Circuito</td>
                                    </tr>
                                    <tr >
                                      <td rowspan="1">6:00 pm a 7:00 pm </td>
                                      <td>Box Avanzados</td>
                                    </tr>
                                    <tr >
                                      <td>7:00 pm a 8:30 pm </td>
                                      <td>Judo / Jiu Jitsu Brasileño</td>
                                    </tr>
                                    <tr >
                                      <td>8:30 pm a 10:00 pm </td>
                                      <td>Artes Marciales Mixtas</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content {%if isFriday%}active{%endif%}" id="viernes">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Viernes</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    
                                    
                                    <tr >
                                      <td>CERRADO </td>
                                      <td></td>
                                    </tr>
                                    

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content {%if isSaturday%}active{%endif%}" id="sabado">
                    <div class="row">
                        <div class="small-12 columns">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Horario</th>
                                      <th>Sábado</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    
                                    <tr >
                                      <td>CERRADO </td>
                                      <td></td>
                                    </tr>
                                                                       
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <section class="row">
          <article class="medium-4 columns text-center">
            <a class="button expand secondary round" href="/contacto">Contactanos</a>
            
            
          </article>
          <article class="medium-4 columns text-center">
            
            <a class="button expand secondary round" href="/mapa">Mapa</a>
            
          </article>
          <article class="medium-4 columns text-center">
            <a class="button expand secondary round" href="/codigo">Conoce nuestro Código</a>
            
            
          </article>
        </section>
        <div class="row hide">
            <div class="medium-8 small-centered columns">
                <h4 class="text-center">Si gustas Descargar el Horario de Fenix Fight Club, aqui puedes hacerlo.</h4>
                <a class="button small expand hide-for-large-up" href="{{STATIC_URL}}docs/horarioMayo2014.pdf">Descargar Horario!</a>
                <a class="button small hide-for-medium-down" href="{{STATIC_URL}}docs/horarioMayo2014.pdf">Descargar Horario!</a>
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}