{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Fenix Fight Club Mexico{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Aprende Artes Marciales Mixtas, Jiu Jitsu Brasileño y más en Fenix Fight Club México {% endblock %} {% endblock %}
{% block keywords %}Artes Marciales Mixtas, Jiu Jitsu, Box, Judo, Crossfit{% endblock %}
{% block og_img %} {% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="heroHOME bg-home">
        <ul class="example-orbit height100" data-orbit data-options="animation_speed:1500;slide_number: false;bullets: false">
          <li>
            <img src="{{STATIC_URL}}img/home/home_01.jpg" alt="slide 1" />
            <div class="orbit-caption">
              <h1> Bienvenido a Fenix Fight Club México</h1>
              
            </div>
          </li>
          <li class="active">
            <img src="{{STATIC_URL}}img/home/home_02.jpg" alt="slide 2" />
            <div class="orbit-caption">
              Aprende con profesionales, Jiu Jitsu , Judo, Artes Marciales Mixtas y más.
            </div>
          </li>
          <li>
            <img src="{{STATIC_URL}}img/home/home_03.jpg" alt="slide 3" />
            <div class="orbit-caption">
              Caption Three.
            </div>
          </li>
        </ul>
    </section>
    <section class="horario-actual">
      <div class="row">
        <div class="large-12">
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#panel2-1">Tab 1</a></li>
            <li class="tab-title"><a href="#panel2-2">Tab 2</a></li>
            <li class="tab-title"><a href="#panel2-3">Tab 3</a></li>
            <li class="tab-title"><a href="#panel2-4">Tab 4</a></li>
          </ul>
          <div class="tabs-content">
            <div class="content active" id="panel2-1">
              <p>First panel content goes here...</p>
            </div>
            <div class="content" id="panel2-2">
              <p>Second panel content goes here...</p>
            </div>
            <div class="content" id="panel2-3">
              <p>Third panel content goes here...</p>
            </div>
            <div class="content" id="panel2-4">
              <p>Fourth panel content goes here...</p>
            </div>
          </div>
        </div>
      </div>
    </section>

 
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}
