{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Mapa{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/mapa{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Contactanos email:brian@ffcmexico.com Google maps: Fenix Fight Club {% endblock %} {% endblock %}
{% block keywords %}bjj, box, artes marciales mixtas, judo, tehuacan, puebla{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}

    <section>
        <iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1892.1408585762676!2d-97.39965509327173!3d18.470894180721707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c5a32aaf43a471%3A0x242ed53110ae57e9!2sFenix+Fight+Club+Tehuacan!5e0!3m2!1ses!2smx!4v1406402429344'></iframe><br />

    </section>
    <section>
        <div class="row">
            <div class="small-12 columns">
            <h1>Mapa de Fenix Fight CLub México</h1>
            <p>Recuerda que hace unas semanas nos cambiamos de ubicación, por su comprensión Gracias.</p>
            <p>Nueva dirección:Reforma Norte 118, Colonia Centro, Centro de la Ciudad, 75700 Tehuacán, Pue.</p>
            <p>Si necesitas más información para llegar mandanos un email a ffcmexico@hotmail.com ó contactanos por nuestras redes sociales</p>
        </div>

        </div>
    </section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3>Siguenos en nuestras Redes Sociales</h3>
            <div class="row">
              <div class="medium-11 small-centered columns">
                <a href="#" data-options="align:top" data-dropdown="dropSocial" class="button small expand round">Más de Redes Sociales</a>
                <div id="dropSocial" data-dropdown-content class="f-dropdown large content">
                  <script src="https://apis.google.com/js/platform.js"></script>
                    <div class="row">
                      <div class="small-12 columns">
                        <a href="https://twitter.com/ffcmexico" class="twitter-follow-button " data-show-count="true" data-dnt="true">Follow @ffcmexico</a>
                        <p>Suscribete al Canal de Youtube:</p>
                          <div class="g-ytsubscribe" data-channel="strmrzl" data-layout="default" data-count="default"></div>
                          <br />
                          <!-- Place this tag where you want the +1 button to render. -->
                          <div class="g-plusone"></div>

                          <!-- Place this tag after the last +1 button tag. -->
                          <script type="text/javascript">
                            window.___gcfg = {lang: 'es-419'};

                            (function() {
                              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                              po.src = 'https://apis.google.com/js/platform.js';
                              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
                          </script>
                          <p>¡Siguenos en Facebook!</p>
                          <div class="fb-like" data-href="https://www.facebook.com/pages/Fenix-Fight-Club-Mexico/215447585145328?fref=ts" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                          </div>
                    </div>
                    
                </div>
              </div>
            </div>
            <h3>También puedes ver los vídeos de nuestro <strong><a href="https://www.youtube.com/user/strmrzl">Canal Fenix Fight Club México</a></strong> directamente en youtube</h3>
        </div>
    </div>    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}