{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Mapa{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/mapa{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Contactanos email:brian@ffcmexico.com Google maps: Fenix Fight Club {% endblock %} {% endblock %}
{% block keywords %}bjj, box, artes marciales mixtas, judo, tehuacan, puebla{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}

    <section>
        <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?f=d&amp;source=s_d&amp;saddr=Fenix+Fight+Club+Tehuacan,+Priv.+14+Poniente,+Buenos+Aires,+Tehuac%C3%A1n,+Puebla&amp;daddr=&amp;hl=es&amp;geocode=CejAaJvaRjXyFSDkGQEdyuAx-ilxpEOvKqPFhTHpV64QMdUuJA&amp;sll=18.474068,-97.394491&amp;sspn=0.001585,0.003664&amp;mra=mift&amp;ie=UTF8&amp;ll=18.474068,-97.394491&amp;spn=0.001585,0.003664&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.mx/maps?f=d&amp;source=embed&amp;saddr=Fenix+Fight+Club+Tehuacan,+Priv.+14+Poniente,+Buenos+Aires,+Tehuac%C3%A1n,+Puebla&amp;daddr=&amp;hl=es&amp;geocode=CejAaJvaRjXyFSDkGQEdyuAx-ilxpEOvKqPFhTHpV64QMdUuJA&amp;sll=18.474068,-97.394491&amp;sspn=0.001585,0.003664&amp;mra=mift&amp;ie=UTF8&amp;ll=18.474068,-97.394491&amp;spn=0.001585,0.003664&amp;t=m" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
    </section>
    <section>
        <div class="row">
            <h1>Mapa de Fenix Fight CLub México</h1>
            <p>Si necesitas más información para llegar mandanos un email a ffcmexico@hotmail.com ó contactanos por nuestras redes sociales</p>
            <div class="panel">
                Redes Sociales <a href="https://www.facebook.com/pages/Latinrea/491293330982654?fref=ts" target="_blank"><i class="fi-social-facebook large" title="facebook"></i> </a>
          <a href="#"><i class="fi-social-twitter large" title="twitter" target="_blank"></i></a>
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}