{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Nosotros{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/nosotros{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Conoce más acerca de nosotros {% endblock %} {% endblock %}
{% block keywords %}Artes marciales, Acerca de, vision, mision, gym, historia{% endblock %}
{% block og_img %} {% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <section class="hero bg-about">
        <div class="row">
            <div class="medium-10 small-centered columns heading text-align-center">
                <h1>Acerca de Nosotros</h1>
            </div>
        </div>
    </section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}