<!doctype html>
<html class="no-js" lang="es">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}FFCMexico{%endblock title%}</title>
    <!-- SEO tags-->
    <link rel="canonical" href="{% block rel_canonical%}{% endblock rel_canonical%}" />
    <meta name="description" content="{% block descripcion %}{% endblock descripcion %}" >
    <meta name="keywords" content="{% block keywords %} {% endblock keywords %}">
    <meta property="fb:app_id" content="{%block fb_app_id%}504922086287468{% endblock fb_app_id%}" />
    <meta property="og:type"   content="{%block og_type%}website{%endblock og_type%}" />
    <meta property="og:url" content="{%block og_url%}{% endblock og_url%}" /> 
    <meta property="og:title" content="{% block og_title %}{% endblock og_title %}">
    <meta property="og:description" content="{% block og_descripcion %} {% endblock og_descripcion %}">
    <meta property="og:image" content="{% block og_img %}{{STATIC_URL}}img/home/th/home_01.jpg{% endblock og_img %}">
    <link rel="author" href="{%block rel_author%}https://plus.google.com/b/116396715921090650495/116396715921090650495/posts{%endblock rel_author%}" />
    
    <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation-icons.css">
    <!--your own CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}dist/css/miestilo.min.css">
    <!--Here if you have more CSS -->
    {% block morecss %}{% endblock morecss %}
    <script src="{{STATIC_URL}}js/vendor/modernizr.js"></script>
    <!--If you want to play with this tags only works with retina displays -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="{{STATIC_URL}}img/icons/startup-retina.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Icon touch and favicon genereta for realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/icons/manifest.json">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="FFCMexico">
    <meta name="application-name" content="FFCMexico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link type="text/plain" rel="author" href="/humans.txt">
  </head>
  <body>
    {% block facebook_sdk %}{% endblock facebook_sdk %}
    {% block contenido_base %}{% endblock contenido_base %}
    <script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
    
    <script src="{{STATIC_URL}}js/foundation.min.js"></script>
    <script src="{{STATIC_URL}}js/vendor/jquery.cookie.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- If you want to put you own JS this is the place-->
    {%block morejs%} {%endblock morejs%}
    <!-- Google Analytics Here-->
    {% block analytics%}{% endblock analytics%}
  </body>
</html>