{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Jiu Jitsu Brasileño{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/jiujitsu{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Jiu Jitsu Brasileño para todos, ven y aprende con los mejores{% endblock %} {% endblock %}
{% block keywords %}bjj, brazilian jiu jitsu, gracie, artes marciales, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-horario">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">BJJ</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3>Jiu Jitsu Brasileño / Brazilian Jiu Jitsu (BJJ)</h3>
            <p class="indent break">El <strong>jiu-jitsu brasileño es un arte marcial, deporte de combate y sistema de defensa personal</strong>, enfocado principalmente en la lucha cuerpo a cuerpo y en el suelo. Sus técnicas incluyen: <em>lanzamientos, derribos, luxaciones articulares, estrangulaciones, y sumisiones</em>.</p>
            <pclass="indent break">La filosofía del jiu-jitsu brasileño, conocido como el arte suave o de la adaptabilidad, puede ser resumida en las palabras del maestro Hélio Gracie: <em>“Dios creó a unos hombres fuertes y a otros menos, el jiu-jitsu iguala o minimiza esa disparidad de diferencia de fuerza y/o altura una vez que un oponente de menor envergadura o peso decide proyectar a su adversario llevándolo al suelo para desde ahí adaptarse y usar alguna técnica de jiu-jitsu”</em>.</p>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}