{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Jiu Jitsu Brasileño{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/jiujitsu{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Jiu Jitsu Brasileño para todos, ven y aprende con los mejores{% endblock %} {% endblock %}
{% block keywords %}bjj, brazilian jiu jitsu, gracie, artes marciales, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-horario">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">BJJ</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center"><strong><a href="/bjj">JIU JITSU BRASILEÑO</a> / BRAZILIAN JIU JITSU (BJJ)</strong></h3>
            <p class="indent break">EL <STRONG>JIU-JITSU BRASILEÑO ES UN ARTE MARCIAL, DEPORTE DE COMBATE Y SISTEMA DE DEFENSA PERSONAL</STRONG>, ENFOCADO PRINCIPALMENTE EN LA LUCHA CUERPO A CUERPO Y EN EL SUELO. SUS TÉCNICAS INCLUYEN: <EM>LANZAMIENTOS, DERRIBOS, LUXACIONES ARTICULARES, ESTRANGULACIONES, Y SUMISIONES</EM>.</p>
            <pclass="indent break">La filosofía del jiu-jitsu brasileño, conocido como el arte suave o de la adaptabilidad, puede ser resumida en las palabras del maestro <strong>Hélio Gracie</strong>: <em>“Dios creó a unos hombres fuertes y a otros menos, el jiu-jitsu iguala o minimiza esa disparidad de diferencia de fuerza y/o altura una vez que un oponente de menor envergadura o peso decide proyectar a su adversario llevándolo al suelo para desde ahí adaptarse y usar alguna técnica de jiu-jitsu”</em>.</p>
        </div>
    </div>
    
</section>
<section class="afterHero">
  <div class="row">
    <div class="small-12 columns text-center">
      <h3>COMENTARIOS POR PARTE DE INTEGRANTES DE FENIX FIGHT CLUB</h3>
      <br />
    </div>

  <div class="small-12 medium-8 medium-centered columns">
  Entrena desde hace 2 años
  <blockquote class=""><em>Me gusta mucho venir al club porque aprendo cosas buenas y fuera de la rutina, también me gusta la forma de trabajar de Brian y Estrellita el tipo de ambiente y que el entranimiento mixto me ayuda a aprender más.</em><cite>Natalia Lozano Hdz. | 12 años de edad</cite></blockquote>
    </div>
  </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_01.jpg">
                <img class="th" data-caption="El Jiu Jitsu ayuda en la autoconfianza del niño(a)" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_01.jpg" alt="El Jiu Jitsu ayuda en la autoconfianza del niño(a)">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_02.jpg">
                <img class="th" data-caption="Ejercicios divertidos" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_02.jpg" alt="Ejercicios divertidos">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_02.jpg">
                <img class="th" data-caption=" Aprenderán que todos son tratados por igual " src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_02.jpg" alt=" Aprenderán que todos son tratados por igual ">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_03.jpg">
                <img class="th" data-caption="Aprenderán la autodefensa personal" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_03.jpg" alt="Aprenderán la autodefensa personal">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_04.jpg">
                <img class="th" data-caption="Ganaran total confianza diviertiendose en el Club" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_04.jpg" alt="Ganaran total confianza diviertiendose en el Club">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Disfrutará la convivencia y ejercicios" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_04.jpg" alt="Disfrutará la convivencia y ejercicios">
              </a></li>

            </ul>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}