{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Box{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/box{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Contamos con excelentes clases de Box con un instructor nivel Olimpico{% endblock %} {% endblock %}
{% block keywords %}boxing, guantes de box, mujeres box, lucha libre, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-codigo">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">Box</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center"><strong>CONTAMOS CON EXCELENTES CLASES DE BOX y CON UN INSTRUCTOR DE NIVEL OLIMPICO</strong></h3>
            <h3>INFORMACIÓN</h3>
            <p class="indent break">Deporte de combate en el que dos contrincantes luchan utilizando únicamente sus puños con guantes, golpeando a su adversario de la cintura hacia arriba, dentro de un cuadrilátero especialmente diseñado a tal fin, en breves secuencias de lucha denominadas asaltos o rounds y de acuerdo a un preciso reglamento, el cual regula categorías de pesos y duración del encuentro, entre otros aspectos.</p>
            <p class="indent break">Durante los siglos XVII y XIX, la motivación para las peleas de boxeo era el dinero, mientras los peleadores competían por el premio, los promotores controlaban las entradas, y los espectadores apostaban al resultado. El movimiento moderno olímpico reavivó el interés por el deporte aficionado, y el boxeo aficionado se convirtió en un deporte olímpico en 1904. En la forma actual, peleas olímpicas y otras peleas aficionadas son típicamente limitadas a tres o cuatro asaltos, el marcador es computado por puntos basados en la cantidad de golpes limpios que hayan aterrizado sin importar el impacto, y los peleadores visten equipo de protección de la cabeza, reduciendo el número de heridas, derribes y nocauts.</p>
            <p class="indent break">El boxeo profesional se mantiene, por mucho, como la forma más popular del deporte globalmente, aunque el boxeo aficionado es predominante en Cuba y en algunas antiguas repúblicas soviéticas. Para la mayoría de peleadores, una carrera aficionada, especialmente en los Juegos Olímpicos, ayuda a desarrollar las habilidades y ganar experiencia en preparación para una carrera profesional.</p>
        </div>
    </div>
    
</section>
<section class="afterHero">
  <div class="row">
    <div class="small-12 columns text-center">
      <h3>COMENTARIOS POR PARTE DE INTEGRANTES DE FENIX FIGHT CLUB</h3>
      <br />
    </div>

  <div class="small-12 medium-8 medium-centered columns">
  Entreno desde hace 3 años
  <blockquote class=""><em>Lo que más me gusta es el ambiente y las personas, me siento cómodo. Mi deporte favorito es el Box porque me hace sentir más tranquilo conmigo mismo. He entrenado futbol, voley, natación, tae kwan do y el <strong>box</strong> es el deporte que más seguimiento y disciplina he puesto </em><cite>Ángel Omar Huerta A. | 20 años de edad</cite></blockquote>
    </div>
  </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_02.jpg">
                <img class="th" data-caption="Deporte de combate en el que dos contrincantes luchan utilizando únicamente sus puños con guantes" src="{{STATIC_URL}}img/disciplinas/box/th/box_02.jpg" alt="Deporte de combate en el que dos contrincantes luchan utilizando únicamente sus puños con guantes">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_03.jpg">
                <img class="th" data-caption="Ven y entrena box en Fenix Fight Club " src="{{STATIC_URL}}img/disciplinas//box/th/box_03.jpg" alt="Ven y entrena box en Fenix Fight Club">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_04.jpg">
                <img class="th" data-caption="Saca lo mejor de ti entrenando box con nosotros" src="{{STATIC_URL}}img/disciplinas/box/th/box_04.jpg" alt="Saca lo mejor de ti entrenando box con nosotros">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_05.jpg">
                <img class="th" data-caption="El box es bueno para el acondicionamiento físico" src="{{STATIC_URL}}img/disciplinas/box/th/box_05.jpg" alt="El box es bueno para el acondicionamiento físico">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_06.jpg">
                <img class="th" data-caption="Es perfectamente practicable para todos, mujeres, niños, jovenes" src="{{STATIC_URL}}img/disciplinas/box/th/box_06.jpg" alt="Es perfectamente practicable para todos, mujeres, niños, jovenes">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_07.jpg">
                <img class="th" data-caption="El boxeo profesional se mantiene, por mucho, como la forma más popular del deporte globalmente" src="{{STATIC_URL}}img/disciplinas/box/th/box_07.jpg" alt="El boxeo profesional se mantiene, por mucho, como la forma más popular del deporte globalmente">
              </a></li>

            </ul>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}