{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Box{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/box{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Contamos con excelentes clases de Box con un instructor nivel Olimpico{% endblock %} {% endblock %}
{% block keywords %}boxing, guantes de box, mujeres box, lucha libre, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-codigo">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">Box</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center"><strong>CONTAMOS CON EXCELENTES CLASES DE BOX y CON UN INSTRUCTOR DE NIVEL OLIMPICO</strong></h3>
            <h3>INFORMACIÓN</h3>
            <p class="indent break">Deporte de combate en el que dos contrincantes luchan utilizando únicamente sus puños con guantes, golpeando a su adversario de la cintura hacia arriba, dentro de un cuadrilátero especialmente diseñado a tal fin, en breves secuencias de lucha denominadas asaltos o rounds y de acuerdo a un preciso reglamento, el cual regula categorías de pesos y duración del encuentro, entre otros aspectos.</p>
            <p class="indent break">Durante los siglos XVII y XIX, la motivación para las peleas de boxeo era el dinero, mientras los peleadores competían por el premio, los promotores controlaban las entradas, y los espectadores apostaban al resultado. El movimiento moderno olímpico reavivó el interés por el deporte aficionado, y el boxeo aficionado se convirtió en un deporte olímpico en 1904. En la forma actual, peleas olímpicas y otras peleas aficionadas son típicamente limitadas a tres o cuatro asaltos, el marcador es computado por puntos basados en la cantidad de golpes limpios que hayan aterrizado sin importar el impacto, y los peleadores visten equipo de protección de la cabeza, reduciendo el número de heridas, derribes y nocauts.</p>
            <p class="indent break">El boxeo profesional se mantiene, por mucho, como la forma más popular del deporte globalmente, aunque el boxeo aficionado es predominante en Cuba y en algunas antiguas repúblicas soviéticas. Para la mayoría de peleadores, una carrera aficionada, especialmente en los Juegos Olímpicos, ayuda a desarrollar las habilidades y ganar experiencia en preparación para una carrera profesional.</p>
        </div>
    </div>
    
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_01.jpg">
                <img class="th" data-caption="El Jiu Jitsu ayuda en la autoconfianza del niño(a)" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_01.jpg" alt="El Jiu Jitsu ayuda en la autoconfianza del niño(a)">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_02.jpg">
                <img class="th" data-caption="Ejercicios divertidos" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_02.jpg" alt="Ejercicios divertidos">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_02.jpg">
                <img class="th" data-caption=" Aprenderán que todos son tratados por igual " src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_02.jpg" alt=" Aprenderán que todos son tratados por igual ">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_03.jpg">
                <img class="th" data-caption="Aprenderán la autodefensa personal" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_03.jpg" alt="Aprenderán la autodefensa personal">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_04.jpg">
                <img class="th" data-caption="Ganaran total confianza diviertiendose en el Club" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_04.jpg" alt="Ganaran total confianza diviertiendose en el Club">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Disfrutará la convivencia y ejercicios" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_04.jpg" alt="Disfrutará la convivencia y ejercicios">
              </a></li>

            </ul>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}