{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Crossfit{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/crossfit{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Entrenamiento de condición física, fuerza, destreza y peso olimpico{% endblock %} {% endblock %}
{% block keywords %}fuerza, crossfit, destreza, peso olimpico, condicion fisica, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-cross">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">Crossfit</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center"><STRONG>PROGRAMA DE ACONDICIONAMIENTO FISICO DESTINADO A MEJORAR LA <EM>CONDICION FISICA Y/O PERDIDA DE PESO</EM></STRONG></h3>
            <h3>INFORMACIÓN</h3>
            <p class="indent break">CrossFit es un programa de fuerza y acondicionamiento fisico con el objetivo de mejorar entre otras cosas, fuerza muscular, resistencia cardio-respiratoria, y flexibilidad. Propone una mezcla cambiante de ejercicios aerobicos, gimnasia (ejercicios con peso propio), y Levantamiento de Pesos Olimpicos.</p>
        </div>
    </div>
    
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_01.jpg">
                <img class="th" data-caption="El Jiu Jitsu ayuda en la autoconfianza del niño(a)" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_01.jpg" alt="El Jiu Jitsu ayuda en la autoconfianza del niño(a)">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_02.jpg">
                <img class="th" data-caption="Ejercicios divertidos" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_02.jpg" alt="Ejercicios divertidos">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_02.jpg">
                <img class="th" data-caption=" Aprenderán que todos son tratados por igual " src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_02.jpg" alt=" Aprenderán que todos son tratados por igual ">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_03.jpg">
                <img class="th" data-caption="Aprenderán la autodefensa personal" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_03.jpg" alt="Aprenderán la autodefensa personal">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_04.jpg">
                <img class="th" data-caption="Ganaran total confianza diviertiendose en el Club" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_04.jpg" alt="Ganaran total confianza diviertiendose en el Club">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Disfrutará la convivencia y ejercicios" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_04.jpg" alt="Disfrutará la convivencia y ejercicios">
              </a></li>

            </ul>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}