{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Judo{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/judo{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Aprende las mejores tecnicas de derribes con Judo {% endblock %} {% endblock %}
{% block keywords %} derribes, brazilian jiu jitsu, gracie, artes marciales, judo, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-brian">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">Judo</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-left"><strong>EL JUDO ES DEPORTE OLIMPICO, DE MUCHA UTILIDAD EN <a href="/mma">ARTES MARCIALES MIXTAS</a> (MMA, AMM, Mixed Martial Arts), <a href="/bjj">JIU JITSU</a> (BRAZILIAN JIUJITSU, BJJ</strong></h3>
            <h3>INFORMACIÓN</h3>
            <p class="indent break">El Judo es un arte marcial y deporte de combate de origen japonés. Actualmente en su forma deportiva se especializa en los lanzamientos, las sumisiones y las estrangulaciones. No obstante, en su práctica integral no ha dejado de lado los golpes, los desarmes, varias luxaciones articulares, el uso de los puntos de presión y los métodos de reanimación, lo que lo hace muy apropiado para el uso por fuerzas de seguridad, cascos azules, policías, militares, paramédicos, etc. El judo es uno de los cuatro estilos principales de lucha deportiva más practicados hoy en día en todo el mundo. A partir del judo kodokan se han derivado las actuales formas de jujutsu europeo, ju jitsu americano, jiu jitsu brasileño, sambo ruso, nihon tai jutsu y krav magá. Esto se debe a que expertos en judo formados en Japón o sus discípulos a lo ancho del mundo han tenido fundamental aporte para la formación de estas otras formas</p>
            <p class="indent">Nuestro <a href="/brian">Instructor en Judo</a> cuenta con su certificado en Cinta Negra 1er Dan Registrado con Tokio Kodokan en Agosto 2002</p>

        </div>
    </div>
    
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_01.jpg">
                <img class="th" data-caption="El Jiu Jitsu ayuda en la autoconfianza del niño(a)" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_01.jpg" alt="El Jiu Jitsu ayuda en la autoconfianza del niño(a)">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_02.jpg">
                <img class="th" data-caption="Ejercicios divertidos" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_02.jpg" alt="Ejercicios divertidos">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_02.jpg">
                <img class="th" data-caption=" Aprenderán que todos son tratados por igual " src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_02.jpg" alt=" Aprenderán que todos son tratados por igual ">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_03.jpg">
                <img class="th" data-caption="Aprenderán la autodefensa personal" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_03.jpg" alt="Aprenderán la autodefensa personal">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_04.jpg">
                <img class="th" data-caption="Ganaran total confianza diviertiendose en el Club" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_04.jpg" alt="Ganaran total confianza diviertiendose en el Club">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Disfrutará la convivencia y ejercicios" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_04.jpg" alt="Disfrutará la convivencia y ejercicios">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_03.jpg">
                <img class="th" data-caption="Aprenderán la autodefensa personal" src="{{STATIC_URL}}img/disciplinas/bjj/th/bjj_03.jpg" alt="Aprenderán la autodefensa personal">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Ejercicios de estiramiento" src="{{STATIC_URL}}img/disciplinas/bjj/th_m/bjj_04.jpg" alt="Ejercicios de estiramiento">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Ejercicios de estiramiento" src="{{STATIC_URL}}img/disciplinas/bjj/th_m/bjj_04_h.jpg" alt="Ejercicios de estiramiento">
              </a></li>
 
            </ul>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}