{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Entrenamiento para niños{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/kids{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Entrenamiento especial para niños con Jiu Jitsu como base{% endblock %} {% endblock %}
{% block keywords %}Kids, training, gracie, artes marciales, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <div class="row">
        <div class="small-12 medium-10 columns">
            <h1>jiu Jitsu Brasileño para niños </h1>
            <h2>jiu Jitsu Brasileño  Junio 2014 </h2>
        </div>
    </div>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}