{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Artes Marciales Mixtas{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/artesmarcialesmixtas{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Clases de Artes Marciales Mixtas, con profesor certificado e instalaciones acondicionadas para este Estilo de Pelea{% endblock %} {% endblock %}
{% block keywords %}judo, bjj, sparring, artes marciales,box, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-mma">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">Artes Marciales Mixtas (MMA)</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center"><strong>CLASES DE ARTES MARCIALES MIXTAS, CON PROFESOR CERTIFICADO E INSTALACIONES ACONDICIONADAS PARA ESTE ESTILO DE PELEA</strong></h3>
            <h3>INFORMACIÓN</h3>
            <p class="indent break">Las Artes Marciales Mixtas es un estilo de pelea que incorpora tanto golpes como tecnicas de lucha en pie y en el suelo, las artes marciales mixtas pueden ser practicadas en un torneo en el cual dos competidores intentan vencer cada uno a su oponente usando un amplio rango de tecnicas permitidas. Las disciplinas tradicionales y modernas mas populares utulizadas en las Artes Marciales Mixtas son:</p>
            <ul class="text-center no-bullet">
                <li><a href="/bjj">Jiu Jitsu Brasileño</a></li>
                <li><a href="#">Muay Thai</a></li>
                <li><a href="#">Lucha Olimpica</a></li>
                <li><a href="/judo">Judo</a></li>
                <li><a href="/box">Boxeo</a></li>
                <li><a href="#">Karate</a></li>
                <li><a href="#">Sambo</a></li>
                <li><a href="#">kickboxing</a></li>
            </ul>
        </div>
    </div>
    
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_01.jpg">
                <img class="th" data-caption="El Jiu Jitsu ayuda en la autoconfianza del niño(a)" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_01.jpg" alt="El Jiu Jitsu ayuda en la autoconfianza del niño(a)">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_02.jpg">
                <img class="th" data-caption="Ejercicios divertidos" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_02.jpg" alt="Ejercicios divertidos">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_02.jpg">
                <img class="th" data-caption=" Aprenderán que todos son tratados por igual " src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_02.jpg" alt=" Aprenderán que todos son tratados por igual ">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_03.jpg">
                <img class="th" data-caption="Aprenderán la autodefensa personal" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_03.jpg" alt="Aprenderán la autodefensa personal">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kids/kids_04.jpg">
                <img class="th" data-caption="Ganaran total confianza diviertiendose en el Club" src="{{STATIC_URL}}img/disciplinas/kids/250x167th/kids_04.jpg" alt="Ganaran total confianza diviertiendose en el Club">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Disfrutará la convivencia y ejercicios" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_04.jpg" alt="Disfrutará la convivencia y ejercicios">
              </a></li>

            </ul>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}