{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Artes Marciales Mixtas{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/artesmarcialesmixtas{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Ven y Aprende Artes Marciales Mixtas en Tehuacán Puebla{% endblock %} {% endblock %}
{% block keywords %}judo, bjj, sparring, artes marciales,box, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
    <div class="row">
        <div class="small-12 medium-10 columns">
            <h1>Artes Marciales Mixtas </h1>
            <h2>Artes Marciales Mixtas  Junio 2014 </h2>
        </div>
    </div>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}