{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Artes Marciales Mixtas{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/artesmarcialesmixtas{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Clases de Artes Marciales Mixtas, con profesor certificado e instalaciones acondicionadas para este Estilo de Pelea{% endblock %} {% endblock %}
{% block keywords %}judo, bjj, sparring, artes marciales,box, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-mma">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">Artes Marciales Mixtas (MMA)</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center"><strong>CLASES DE ARTES MARCIALES MIXTAS, CON PROFESOR CERTIFICADO E INSTALACIONES ACONDICIONADAS PARA ESTE ESTILO DE PELEA</strong></h3>
            <h3>INFORMACIÓN</h3>
            <p class="indent break">Las Artes Marciales Mixtas es un estilo de pelea que incorpora tanto golpes como tecnicas de lucha en pie y en el suelo, las artes marciales mixtas pueden ser practicadas en un torneo en el cual dos competidores intentan vencer cada uno a su oponente usando un amplio rango de tecnicas permitidas. Las disciplinas tradicionales y modernas mas populares utulizadas en las Artes Marciales Mixtas son:</p>
            <ul class="text-center no-bullet">
                <li><a href="/bjj">Jiu Jitsu Brasileño</a></li>
                <li><a href="#">Muay Thai</a></li>
                <li><a href="#">Lucha Olimpica</a></li>
                <li><a href="/judo">Judo</a></li>
                <li><a href="/box">Boxeo</a></li>
                <li><a href="#">Karate</a></li>
                <li><a href="#">Sambo</a></li>
                <li><a href="#">kickboxing</a></li>
            </ul>
        </div>
    </div>
    
</section>
<section class="afterHero">
  <div class="row">
    <div class="small-12 columns text-center">
      <h3>COMENTARIOS POR PARTE DE INTEGRANTES DE FENIX FIGHT CLUB</h3>
      <br />
    </div>

  <div class="small-12 medium-8 medium-centered columns">
  Entrena desde hace 3 años
  <blockquote class=""><em>Me gusta venir a entrenar JiuJitsu y Artes Marciales Mixtas(amm) porque es muy bueno en defensa personal. La diferencia entre otros gyms y este es el entrenamiento con los compañeros.</em><cite>Aurelio Mtz. Molotl | 26 años de edad</cite></blockquote>
    </div>
  </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_02.jpg">
                <img class="th" data-caption="Deporte de combate en el que dos contrincantes luchan utilizando únicamente sus puños con guantes" src="{{STATIC_URL}}img/disciplinas/box/th/box_02.jpg" alt="Deporte de combate en el que dos contrincantes luchan utilizando únicamente sus puños con guantes">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/box/box_06.jpg">
                <img class="th" data-caption="Es perfectamente practicable para todos, mujeres, niños, jovenes" src="{{STATIC_URL}}img/disciplinas/box/th/box_06.jpg" alt="Es perfectamente practicable para todos, mujeres, niños, jovenes">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_06.jpg">
                <img class="th" data-caption="Excelente para la Defensa Personal" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_06.jpg" alt="Excelente para la Defensa Personal">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_05.jpg">
                <img class="th" data-caption="Es un buen deporte para acondicionamiento físico" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_05.jpg" alt="Es un buen deporte para acondicionamiento físico">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_04.jpg">
                <img class="th" data-caption="El Kickboxing se ha convertido en una parte esencial de la formación moderna del MMA" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_04.jpg" alt="El Kickboxing se ha convertido en una parte esencial de la formación moderna del MMA">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/bjj/bjj_04.jpg">
                <img class="th" data-caption="Disfrutará la convivencia y ejercicios" src="{{STATIC_URL}}img/disciplinas/bjj/250x167th/bjj_04.jpg" alt="Disfrutará la convivencia y ejercicios">
              </a></li>

            </ul>
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}