{% extends 'base.html' %}
{% block title %}{% block og_title %}Muay Thai Tehuacán{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/muaythai{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}En la Clase de Muay Thai los estudiantes son instruidos a golpear no sólo con sus manos y los pies, sino también con sus rodillas y codos.{% endblock %} {% endblock %}
{% block keywords %}judo, bjj, sparring, artes marciales,box, mma{% endblock %}
{% block og_img %}{% endblock %}
{% block contenido %}
<section class="hero bg-muaythai">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">MUAY THAI</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
<div class="row">
    <article class="medium-8 medium-centered columns">
        <h3 class="text-center"><a href="/programas/kickboxing">MUAY THAI</a></h3>
        <p><em>Muay thai</em> es un deporte de combate proveniente de Tailandia. Muay Thai enfatiza las técnicas del golpeo de pie y en el clinch. La principal diferencia entre el Muay Thai y Karate o Taekwondo es que los estudiantes son instruidos a golpear no sólo con sus manos y los pies, sino también con sus rodillas y codos. </p>
        <p>El Muay Thai enfatiza las "técnicas funcionales " que son trabajadas en situaciones de combate reales en lugar de torneos deportivos. Se aplica mayor énfasis en el acondicionamiento físico general para todos los estudiantes. Muay Thai es una excelente opción para el entrenamiento de <a href="/mma"><strong>MMA</strong></a>, para defensa personal, la salud en general y la condición física.</p>
    </article>
</div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            <h3><strong>IMÁGENES</strong></h3>
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3  text-center" data-clearing>
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_01.jpg">
                <img class="th" data-caption="Kickboxing combina las técnicas de golpeo del Box Occidental" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_01.jpg" alt="Kickboxing combina las técnicas de golpeo del Box Occidental">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_02.jpg">
                <img class="th" data-caption="Ejercicios divertidos" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_02.jpg" alt="Ejercicios divertidos">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_03.jpg">
                <img class="th" data-caption="Los estudiantes son instruidos a golpear con sus puños, pies, rodillas, codos y espinillas." src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_03.jpg" alt=" Los estudiantes son instruidos a golpear con sus puños, pies, rodillas, codos y espinillas. ">
              </a></li>
              
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_04.jpg">
                <img class="th" data-caption="El Kickboxing se ha convertido en una parte esencial de la formación moderna del MMA" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_04.jpg" alt="El Kickboxing se ha convertido en una parte esencial de la formación moderna del MMA">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_05.jpg">
                <img class="th" data-caption="Es un buen deporte para acondicionamiento físico" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_05.jpg" alt="Es un buen deporte para acondicionamiento físico">
              </a></li>
              <li><a href="{{STATIC_URL}}img/disciplinas/kickboxing/kickboxing_06.jpg">
                <img class="th" data-caption="Excelente para la Defensa Personal" src="{{STATIC_URL}}img/disciplinas/kickboxing/th/kickboxing_06.jpg" alt="Excelente para la Defensa Personal">
              </a></li>
 
            </ul>
        </div>
    </div>
    
</section> 
{% endblock contenido %}