{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Sumision{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/programas/sumision{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Jiu Jitsu Brasileño para todos, ven y aprende con los mejores{% endblock %} {% endblock %}
{% block keywords %}submission, sumision, estrangulaciones, amarres, artes marciales, mma{% endblock %}
{% block og_img %}{% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section class="hero bg-sumision">
    <div class="row">
        <div class="medium-10 small-centered columns heading text-center">
            <h1 class="animated fadeInUp">Sumisión</h1>
                
        </div>
    </div>
</section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 columns">
            
        </div>
    </div>
    
</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}{%endblock%}