body {
 background-color: blue;
  background-image:
    radial-gradient(
      blue,
      #f06d06
    );


}
.orbit-container .orbit-slides-container li .orbit-caption {
        position: absolute;
        bottom: 0;
        background-color: rgba(51, 51, 51, 0.2);
        color: white;
        width: 100%;
        padding: 0.625rem 0.875rem;
        font-size: 0.875rem;}

.off-canvas-list li label a img {
    border-radius: 50% 50%;
}
.fatima{
    display: flex;
    box-sizing: border-box

}
/* Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens*/
@media only screen and (min-width: 40.063em) { 
    .orbit-container .orbit-slides-container li .orbit-caption {
        bottom: 25%;
        background-color: rgba(51, 51, 51, 0.2);
        color: white;
        width: 100%;
        padding: 0.625rem 0.875rem;
        font-size: 2em; }
    
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
 } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */