{% extends 'base.html' %}
<!-- Head-->
{% block title %}{% block og_title %}Galeria de Fotos{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/galeria/fotos{%endblock%}
{%block og_type%}{%endblock%}
{% block descripcion %}{% block og_descripcion %}Ve nuestras galerias de Fotos y Asiste a tu Semana Gratis. {% endblock %} {% endblock %}
{% block keywords %}Galeria, Fotos, gym, entrenamiento, ejercicio, club, instructores, servicios{% endblock %}
{% block og_img %} {% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section id="SlideHero" class="heroHOME">
        <ul class="example-orbit" data-orbit data-options="animation_speed:1500;slide_number: false;bullets: false; timer: true">
          <li >
            <img src="{{STATIC_URL}}img/home/home_01.jpg" alt="slide 1" />
            
            <div class="orbit-caption show-for-large-up">
              Bienvenido a Fenix Fight Club México
              <a href="/servicios" class="button medium ">Servicios</a>
              
            </div>
          </li>
          <li >
            <img src="{{STATIC_URL}}img/home/home_02.jpg" alt="slide 2" />
            <div class="orbit-caption show-for-large-up">
              Aprende con profesionales, Defensa Personal, Jiu Jitsu , Judo, Artes Marciales Mixtas y más.
              <a href="/programas" class="button medium">Programas</a>
            </div>
          </li>
          <li>
            <img src="{{STATIC_URL}}img/home/home_03.jpg" alt="slide 3" />
            <div class="orbit-caption show-for-large-up">
              Recuerda obtener tu Semana Gratis.
              <a href="/freeweek" class="button medium">!!Obten ya tu Semana Gratis!!</a>
            </div>
          </li>
        </ul>
  </section>
<section class="afterHero">
    <div class="row">
        <div class="small-12 text-center">
            <h3>Conoce nuestras galerias de Fotos, también unetenos a hacer más grande nuestra galeria, mandanos tus fotos a @ffcmexico o a brian@ffcmexico.com </h3>
            <h3>Otra manera es publicando en instagram con el hastag #FFCMexico</h3>
        </div>
    </div>

</section>
{% endblock %}
{%block afterfoundationjs%}{%endblock%}
{%block morejs%}
{%endblock%}