{% extends "base.html" %}
<!-- Head-->
{% block title %}{% block og_title %}Galerias{% endblock %}{% endblock %}
{%block rel_canonical%}http://ffcmexico.com/galeria{%endblock%}
{%block og_type%}website{%endblock%}
{% block descripcion %}{% block og_descripcion %}Ve nuestras galerias de Fotos y Asiste a tu Semana Gratis. {% endblock %} {% endblock %}
{% block keywords %}Galeria, Fotos, gym, entrenamiento, ejercicio, club, instructores, servicios{% endblock %}
{% block og_img %} {% endblock %}
{%block morecss%}{%endblock%}
<!-- body-->
{% block contenido %}
<section id="galerias" class="afterHero">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="text-center">GALERIAS</h3>
        <div class="row">
          <div class="medium-6 columns text-center">
            <h3 text-center>Vídeos</h3>
            <p>Nuestros vídeos son increibles pero más es estar aquí entrenando, animate a entrenar en <a href="/">Fenix Fight Club</a>.</p>
            <div class="row">
              <div class="small-12 columns">
                <div class="flex-video">
                    <iframe width="720" height="480" src="//www.youtube.com/embed/XlpARG4xJPk?theme=light&color=white&autoplay=1&loop=1&rel=0" frameborder="0" allowfullscreen></iframe>
                 </div>
              </div>
            </div>
            <a class="button small expand" href="/galeria/videos">Ver todos los Vídeos</a>

          </div>
          <div class="medium-6 columns text-center">
            <h3>Fotografias</h3>
            <p>Conoce nuestras instalaciones, eventos y la buena convivencia entre todos los integrantes de <a href="/">Fenix Fight Club</a>.</p>
            <img class="th radius" src="{{STATIC_URL}}img/home/th/home_05.jpg" alt="Un día en el Gym">
            
            <a class="button small expand" href="/galeria/fotos">Ver todas las Imágenes</a>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}